@import "tailwindcss";

@layer base {
  body {
    background-color: #11120d;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}

.bg_RaisinBlack {
  background-color: #272233;
}
.bg_SandyBrown {
  background-color: #f4a971;
}
.bg_GunMetal {
  background-color: #213241;
}

.bg_DBlue {
  background-color: #2d3250;
}
